/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    div {
        max-width: 100%;
        padding: 10px;
    }

    .menu-container{
        background-color: #333;
    }

    button {
        font-size: 14px;
    }

    /* Ajuste o tamanho do input para dispositivos menores, se necessário */
    input[type="number"] {
        width: 40px;
    }

    /* Ajuste o tamanho do texto nas listas */
    li {
        font-size: 14px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

p {
    font-weight: bold;
}

input[type="number"] {
    width: 60px;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos adicionados para alinhar os elementos horizontalmente */
.item-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.item-button {
    margin-left: 10px;
    padding: 5px 10px;
}

/* Estilos para a lista de comanda */
#comandaList {
    list-style: none;
    padding: 0;
}

#comandaList li {
    margin: 10px 0;
}

/* Estilos para o formulário de adição de pedidos */
.item-form {
    display: flex;
    align-items: center;
}

.item-input input[type="number"] {
    width: 40px;
    margin-right: 10px;
}

/* Estilize o botão de adicionar pedido */
#adicionarPedido {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#adicionarPedido:hover {
    background-color: #45a049;
}
