/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    

    div {
        max-width: 100%;
        padding: 10px;
    }
    
    

    button {
        font-size: 14px;
    }

    /* Ajuste o tamanho do input para dispositivos menores, se necessário */
    input[type="number"] {
        width: 40px;
    }

    /* Ajuste o tamanho do texto nas listas */
    li {
        font-size: 14px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 25px;
}

div {
    max-width: 800px;
    margin: 20px auto; /* Adicionado margem */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

p {
    font-weight: bold;
}

input[type="number"] {
    width: 60px;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
}
/* Estilize o botão de adicionar comanda */
#adicionarComanda {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    border: none;
    margin-left: 20px;
    padding: 8px 13px;
    cursor: pointer;
}

#adicionarComanda:hover {
    background-color: #45a049; /* Tom mais escuro de verde ao passar o mouse */
}

/* Estilize o botão de limpar comanda */
#limparComanda {
    background-color: #FF0000; /* Vermelho */
    color: #fff;
    border: none;
    padding: 8px 13px;
    cursor: pointer;
}

#limparComanda:hover {
    background-color: #990000; /* Tom mais escuro de vermelho ao passar o mouse */
}

#listaDeComandas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button.mesas {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 10px 10px;
    min-width: 100px;
    margin: 5px;
    cursor: pointer;
}

button.mesas:hover,
button.mesas:focus {
    background-color: #a7a4a4;
    color: #333;
}

button:hover {
    background-color: #a7a4a4;
    color: #333;
}

/* Estilos adicionados para alinhar os elementos horizontalmente */
.item-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.item-button {
    margin-left: 10px;
    padding: 15px 15px;
}

/* Estilos para a lista de comanda */
#comandaList {
    list-style: none;
    padding: 0;
}

#comandaList li {
    margin: 10px 0;
}

/* Estilos para o formulário de adição de pedidos */
.item-form {
    display: flex;
    align-items: center;
}

.item-input input[type="number"] {
    width: 40px;
    margin-right: 10px;
}

/* Estilize o botão de adicionar pedido */
#adicionarPedido {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#adicionarPedido:hover {
    background-color: #45a049;
}


.categoria {
    padding: 7px;
    cursor: pointer;
    margin-bottom: 20px;
    list-style: none;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.categoria:hover {
    color: #333;
}

/* Estilize o nome das categorias */
h3 {
    margin: 15px;
    padding: 30px;
    font-size: 20px; /* Tamanho da fonte */
    color: #292828; /* Cor do texto */
    background-color: #f5f5f5; /* Cor de fundo */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer;
}

h3:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
}


.itens-categoria {
    list-style: none;
    padding: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.escondido {
    display: none;
}

